
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: local("Mark-Simonson-Proxima-Nova-Bold"),
  url("./assets/fonts/Mark-Simonson-Proxima-Nova-Bold.otf")
    format("opentype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: local("Mark-Simonson-Proxima-Nova-Semibold"),
  url("./assets/fonts/Mark-Simonson-Proxima-Nova-Semibold.otf")
    format("opentype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Mark-Simonson-Proxima-Nova-Regular"),
  url("./assets/fonts/Mark-Simonson-Proxima-Nova-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: local("Mark-Simonson-Proxima-Nova-Light"),
  url("./assets/fonts/Mark-Simonson-Proxima-Nova-Light.otf")
    format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.bluePrimary) 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  font-family: 'Proxima Nova', sans-serif !important;
}
/* 
a,
button {
    
} */

.add_list > ul > li{
  list-style: disc;
}

.dark span {
  color: white;
  transition: color 0.3s;
}
.dark li {
  color: white;
  transition: color 0.3s;
}
.dark p {
  color: white;
  transition: color 0.3s;
}
.dark h3 {
  color: white;
  transition: color 0.3s;
}
.dark h2 {
  color: white;
  transition: color 0.3s;
}
.dark h4 {
  color: white;
  transition: color 0.3s;
}
.dark h6 {
  color: white;
  transition: color 0.3s;
}
.dark label {
  color: white;
  transition: color 0.3s;
}
.dark legend {
  color: white;
  transition: color 0.3s;
}
.dark svg {
  color: #0080cf;
  transition: color 0.3s;
}
.dark input {
  border: #f4f4f4 1px solid;
  border-radius: 10px !important;
  background-color: #18212f;
  color: white;
  transition: color 0.3s;
}
.dark .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border: #f4f4f4 1px solid !important;
  color: white !important;
  transition: color 0.3s;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root > input {
  border: none  !important;
}

.dark input::placeholder {
  color: white;
  transition: color 0.3s;
}

.css-1v4ccyo{
  border-radius: 10px !important;
}
.css-1v4ccyo:hover{
  border: none !important;
}

p {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Proxima Nova', sans-serif !important;
}

section {
  margin-left: 140px;
  margin-right: 140px;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
}
h4 {
  font-size: 1.88rem;
  font-weight: 600;
  color: black !important;
}

footer a {
  font-size: 1rem;
  font-family: 'Proxima Nova', sans-serif !important;
}

li{
  list-style: none;
}

@media screen and (max-width: 1440px) {
  section {
    margin-left: 96px;
    margin-right: 96px;
  }

  h4 {
    font-size: 1.3rem;
  }

  footer a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1180px) {
  section {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .unset {
    position: unset !important;
  }
}
@media screen and (min-width: 960px) {
  .unset2 {
    position: unset !important;
  }
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 1.2rem;
  }
  .unset2 {
    position: unset !important;
  }
}

.css-1flt7uf-MuiTabs-root .MuiTabs-flexContainer {
  justify-content: center !important;
}

.slick-slide > div {
  margin: 0 10px;
}
.no-scrollbar {
  /* Target WebKit browsers (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Target Internet Explorer (less common these days) */
  -ms-overflow-style: none;
}

.css-14lo706 > span {
  color: #0080cf !important;
  opacity: 0 !important;
}
.css-14lo706 {
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px !important;
}

.cardShadow{
  box-shadow: 0px 62px 103.5px 20px #C9C9C940;

}

@media screen and (max-width: 1024px){
    
  html{
      font-size: 90%;
  }
}




@media screen and (max-width: 850px){
  
  html{
    font-size: 85%;
  }
}



@media screen and (max-width: 640px){
  
  html{
      font-size: 80%;
  }

}

@media screen and (max-width: 550px){
  
  html{
      font-size: 75%;
  }

 
}
